@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Basic CSS Reset */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3D1F12; /* Fall tri-color */
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('dd.jfif');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #111;
  color: #fff;
}

nav {
  padding: 15px;
  text-align: center;
  background-color: #000000;
  background-image: url('Muntjac.png');
  background-size: cover;
  background-position: center;
}

/* Rest of your CSS... */
